<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body class="container">
   	<header>
  		<% include ../partials/header %>
  	</header>

    <main>
    	<div class="jumbotron">
	 		<form class="form-horizontal" role="post" action="/">
	  			<fieldset>
		  			<div class="form-group">
		  				<label class="col-md-4 control-label" for="inputEmail">Email Address</label>
		  				<div class="col-md-4">
		  					<input type="email" class="form-control input-md" id="inputEmail" placeholder="Enter email">
		  				</div>
		  			</div>

		  			<div class="form-group">
		  				<label class="col-md-4  control-label" for="inputPassword">Password</label>
		  				<div class="col-md-4">
		  					<input type="password" class="form-control input-md" id="inputPassword" placeholder="Enter password">
		  				</div>
		  			</div>
		  			
		  			<div class="form-group">	
			  			<label class="col-md-4 control-label" for="inputcheck"></label>
					  		<div  class="col-md-4">
					  			<div class="checkbox">
					    			<label for="inputCheck">
					    			<input type="checkbox" id="inputCheck"> Remember Me</label>
					  			</div>
				  			</div>
				  	</div>

			  		<div class="form-group">
				  		<label class="col-md-4 control-label" for="inputSubmit"></label>
					  		<div class="col-md-4">
				  				<button type="submit" class="btn btn-default" id="inputSubmit">Submit</button>
				  			</div>
			  		</div>
			  	</fieldset>
			</form>
     	</div>
    </main>
   </body>

   
   <footer>
		<% include ../partials/footer %>
	</footer>
</html>
