<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body class="container">
   	<header>
  		<% include ../partials/header %>
  	</header>

    <main>
    	<div class="jumbotron">
    		
	    	<h1><%= title %></h1>
		    <p>Welcome to <%= title %></p>

    	</div>
    </main>
   </body>

   
   <footer>
		<% include ../partials/footer %>
	</footer>
</html>
