<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body class="container">
   	<header>
  		<% include ../partials/header %>
  	</header>

    <main>
    	<div class="jumbotron">
	 		<form role="form">
	  			<div class="form-group">
	  				<label for="inputEmail">Email Address</label>
	  				<input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
	  			</div>

	  			<div class="form-group">
	  				<label for="inputPassword">Password</label>
	  				<input type="password" class="form-control" id="inputPassword" placeholder="Enter password">
	  			</div>
	  		
	  			<div class="checkbox">
	    			<label><input type="checkbox"> Remember Me</label>
	  			</div>
	  			<button type="submit" class="btn btn-default">Submit</button>
			</form>
     	</div>
    </main>
   </body>

   
   <footer>
		<% include ../partials/footer %>
	</footer>
</html>
